@media screen and (max-width: 599px) {
  #primary {
    width: 90%;
  }
  #secondary {
    float: left;
  }
  #gallery li {
    width: 98.3333%;
    max-width: 220px;
    display: inline;
    margin: 12.5%;
  }
  #gallery li:nth-child(2n) {
    clear: left;
  }
  .row {
    float: none;
  }
  .col-md-4 {
    float: none;
  }
  .col-md-4 li {
    width: 20em;
  }
  i {
    width: 12em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #gallery li:nth-child(3n) {
    clear: left;
  }
  #gallery li:nth-child(6n) {
    clear: right;
  }
  i {
    width: 12em;
  }
}
