doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='noindex, nofollow')
    title James Nix — Contact
    <!-- Favicon -->
    link(rel='shortcut icon', href='/media/icons/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/media/icons/favicon.ico', type='image/x-icon')
    <!-- Font Awesome -->
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    <!-- Bootstrap -->
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    <!-- Hoover -->
    link(href='css/hover-min.css', rel='stylesheet', media='all')
    <!-- Styles -->
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/app.css')
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Twitter widget -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    script(src='/js/vendor/modernizr.js')
        
  body.email
    #container.container-fluid <!-- .nav-collapse.collapse -->
      nav#top-nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
        #top-nav-container
          ul
            li
              a(href='/index.html')
                i#home(class='fa fa-home fa-2x button hover')
            li
              a(href='#')
                i#about(class='fa fa-info fa-2x button hover')
            li
              a(href='/contact.html')
                i#contact(class='fa fa-envelope-o fa-2x button hover')
      .clear
      #email-form.email
        h3.email Send me an email
        .email-clear
        input.form-group.form-control(type='text', width='50%', placeholder='name')
        .email-clear
        input.form-group.form-control(type='email', width='50%', placeholder='email')
        .email-clear
        textarea.form-group.form-control(placeholder='message')
        .email-clear
        button#send(type='button', class='btn btn-default btn-sm') Send
        
        
    nav#bottom-nav(class='navbar navbar-default navbar-fixed-bottom', role='navigation')
      #bottom-nav-container.container-fluidi.nav-collapse.collapse
        ul.visible-tablet.visible-desktop
          li.col-md-3
            a(href='http://www.linkedin.com/pub/james-nix/5/390/87/')
              i(class='fa fa-linkedin-square fa-2x button hover')
          li.col-md-3
            a(href='https://github.com/jamesnix')
              i(class='fa fa-github-square fa-2x button hover')
          li.col-md-3
            a(href='https://www.facebook.com/jfnix')
              i(class='fa fa-facebook-square fa-2x button hover')
          li.col-md-3
            a(href='https://twitter.com/MistaNix')
              i(class='fa fa-twitter-square fa-2x button hover')
        //ul.nav.nav-pills.nav-stacked.visible-phone
          //li.col-md-3
            //a(href='http://www.linkedin.com/pub/james-nix/5/390/87/')
              //i(class='fa fa-linkedin-square fa-2x button hover')
          //li.col-md-3
            //a(href='https://github.com/jamesnix')
              //i(class='fa fa-github-square fa-2x button hover')
          //li.col-md-3
            //a(href='https://www.facebook.com/jfnix')
              //i(class='fa fa-facebook-square fa-2x button hover')
          //li.col-md-3
            //a(href='https://twitter.com/MistaNix')
              //i(class='fa fa-twitter-square fa-2x button hover')


<!-- Might not need this if using jquery link below -->
script(src='/js/vendor/jquery.js')
script(src='/js/vendor/bootstrap.min.js')
script(src='/js/vendor/lodash.js')
<!-- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js') -->
<!-- script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js') -->
script(src='/js/vendor/moment.js')
script(src='/js/source/main.js')
