doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='noindex, nofollow')
    title James Nix
    <!-- Favicon -->
    link(rel='shortcut icon', href='/media/icons/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/media/icons/favicon.ico', type='image/x-icon')
    <!-- Font Awesome -->
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    <!-- Bootstrap -->
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    <!-- Styles -->
    link(rel='stylesheet', href='/css/normalize.css')
    <!-- link(rel='stylesheet', media='screen and (max-width: 480px)', href='/css/app-small.css') -->
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')

  body
    #container.container-fluid
      nav#top-nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
        #top-nav-container.container-fluid
          #name James Nix

      .clear
      #page.page.container-fluid
        div#carousel.carousel.slide(data-ride='carousel', data-pause='hover')
          <!-- Indicators -->
          ol.carousel-indicators
            li(data-target='#carousel', data-slide-to='0', class='active')
            li(data-target='#carousel', data-slide-to='1')
            li(data-target='#carousel', data-slide-to='2')
            li(data-target='#carousel', data-slide-to='3')
            li(data-target='#carousel', data-slide-to='4')
          <!-- Wrapper for slides -->
          .carousel-inner
            .item.active
              a(href='http://what-i-got.herokuapp.com')
                img(src='/media/wig-710-439.png', alt='What I Got app photo')
                .carousel-caption
            .item
              a(href='http://chat.jamesnix.net')
                img(src='/media/fireside-710-444.png', alt='Fireside chat link')
                .carousel-caption
            .item
              a(href='http://quiz.jamesnix.net')
                img(src='/media/quiz-710-444.png', alt='Quiz game link')
                .carousel-caption
            .item
              a(href='http://memory.jamesnix.net')
                img(src='/media/Memory-710-444.png', alt='Memory game link')
                .carousel-caption
            .item
              a(href='http://shell.jamesnix.net')
                img(src='/media/shell-710-444.png', alt='Shell game link')
                .carousel-caption
          <!-- Controls -->
          a.left.carousel-control(href='#carousel', data-slide='prev')
            span.fa.fa-arrow-circle-o-left.fa-2x
          a.right.carousel-control(href='#carousel', data-slide='next')
            span.fa.fa-arrow-circle-o-right.fa-2x

        h2#hed.
            From Hack <br/>
            to Hacker

        h3#deck An ongoing journey

        hr#rule

        p.
          About six months ago, as of this writing, I knew only enough HTML and CSS
          to break a website. I've come a long way since.

        p.
          A year out from being laid off from a job in the thriving world of
          print journalism, I've taken a detour back to another interest of mine—technology.
          I've set out on a mission to learn to code, to create clean, logical websites and apps,
          and to learn the correct way to accomplish these tasks. Halfway through the Nashville Software
          School program, I'm well on my way to that goal but with the knowledge that
          I'll never be done learning.

        p.
          Here are many of the concepts, applications and frameworks that I've been exposed
          to so far in two and a half months:
        hr
        .row#list
          .col-md-4
            ul.list
              li HTML
              li CSS
              li JavaScript
              li Ruby on Rails
              li SQL databases
              li AJAX
              li jQuery
              li Foundation
              li Bootstrap

          .col-md-4
            ul.list
              li Underscore
              li Lo-Dash
              li Less
              li Jade
              li Haml
              li Sass
              li AWS
              li Vim/Atom/Sublime
              li Test Driven Development

          .col-md-4
            ul.list
              li Command line usage
              li Capybara
              li Heroku
              li Git and GitHub
              li TDD testing
              li Pair programming
              li Object Oriented Programming
        hr

        p.
          Some of these I know pretty well, of others I have just a passing knowledge. Sometimes
          I feel like a kid surrounded by shiny things, wanting to reach out and explore them all
          at once.

        p.
          The links in the carousel above take you to a few of the programs I've made as part of the
          learning experience. Both the Shell and Memory games demonstrate the use of JavaScript and
          jQuery to dynamically manipulate DOM elements. Quiz-O-Matic adds data sets to the equation.
          And Fireside Chat is my capstone project for the client-side portion of the NSS bootcamp.
          It utilizes an API call to read and write data to a Firebase database using only client-side Javascript.

        p.  
          What I Got is a home media management app meant to catalog books, movies and albums as well
          as home electronics for insurance purposes. It represents both my capstone project for the NSS
          Ruby on Rails portion of the school and my first solo Rails project aside from a couple open
          source projects I contributed to at NSS. What I Got is now a pet project to continue learning
          and tinkering with, beginning with its responsiveness to various devices.

        p.
          What all of this represents, however, is my ability to learn these concepts and turn
          that into practice. I will continue update this site as I learn and accomplish more.

        p — James Nix


      nav#bottom-nav(class='navbar navbar-default navbar-fixed-bottom', role='navigation')
        #bottom-nav-container.container-fluid
          <!-- Bottom nav social links  -->
          ul
            li.col-md-3
              a(href='http://www.linkedin.com/pub/james-nix/5/390/87/')
                i(class='fa fa-linkedin-square fa-2x button')
            li.col-md-3
              a(href='https://github.com/jamesnix')
                i(class='fa fa-github-square fa-2x button')
            li.col-md-3
              a(href='https://www.facebook.com/jfnix')
                i(class='fa fa-facebook-square fa-2x button')
            li.col-md-3
              a(href='https://twitter.com/MistaNix')
                i(class='fa fa-twitter-square fa-2x button')

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
